.status-strip {
    width: 100%;
    background-color: rgb(241, 138, 11) !important;
    padding: 10px;
    text-align: center;
    color: #fff;
}

th {
    background-color: #6c757d!important;
    color: white !important;
} 
